#checkbox {
    display: flex;
    gap: 2%;
    margin-bottom: 3%;

    transition: opacity 0.5s, visibility 0.5s;
}

.bin_icon,
.check_icon {
    width: 2.8%;
}

.bin_icon:hover,
.check_icon:hover {
    cursor: pointer;
}

.checkbox-checked {
    font-size: 1.3em;
    margin: 0;
    font-weight: 400;
    color: white;
    text-decoration: line-through;
}

.fade_out {
    opacity: 0;
    visibility: none;
}
