#background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);

    transition: visibility 0.5s, opacity 0.5s;
}

#todo_form {
    flex-direction: column;
    background: #2b2c2e;
    border-radius: 24px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 28%;
    height: 40%;
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s, visibility 0.5s;
}

.show_modal {
    animation: slidein 1s forwards;
    visibility: auto;
    opacity: 1;
}
.hide_modal {
    transform: translate(-50%, -50%);
    visibility: none;
    opacity: 0;
    /* z-index: -1; */
    animation: remove 1s linear 1s;
}

textarea {
    width: 100%;
    height: 70%;
    resize: none;
    background-color: transparent;
    border: none;
    font-family: "Inter", sans-serif;
}

.show_form {
    visibility: visible;
    opacity: 1;
}

.hide_form {
    visibility: hidden;
    opacity: 0;
}

@keyframes slidein {
    0% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes remove {
    from {
        display: auto;
    }
    to {
        display: none;
    }
}
